@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

h1.title {
    @apply text-4xl font-semibold;
}

#map {
    height: calc(100vh - 54px)
}

.loader {
    @apply block border-[16px] border-[#F3F3F3] border-t-[16px] border-t-[#808080] rounded-full w-32 h-32;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.slider {
    @apply w-48 h-5 rounded-xl bg-[#D3D3D3] outline-none;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    opacity: 0.7;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply w-8 h-8 rounded-full bg-red-400;
}
.slider::-moz-range-thumb {
    @apply w-8 h-8 rounded-full bg-red-400;
}

#filter-btn path {
    fill: #808080;
    @apply transition duration-75;
}
#filter-btn:hover path {
    fill: #4D4D4D;
}

#filter-box {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}
#filter-box.visible {
    transform: translateY(0);
}

#list-view {
    height: calc(100vh - 54px);
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
}
#list-view.visible {
    transform: translateX(0);
}

.list-item.selected {
    @apply bg-[#E0F2F1]
}

.map-btn {
    @apply text-black w-max bg-red-200 hover:bg-red-300 focus:ring-4 focus:outline-none focus:ring-red-100 font-medium rounded-lg text-sm px-4 py-2 right-2 ml-auto h-max
}